# .env example

# Kafka Broker Cluster ID
CLUSTER_ID=cluster-id

# 1. Source DB (MySQL)
MYSQL_HOST=host
MYSQL_PORT=port
MYSQL_USER=username
MYSQL_PASSWORD=pwd

# 2. Sink DB (MySQL)
MYSQL_SINK_URL=connectionURL
MYSQL_SINK_HOST=host
MYSQL_SINK_USER=username
MYSQL_SINK_PASSWORD=pwd

# 3. Sink DB (PostgreSQL)
MYSQL_SINK_PG_URL=connectionURL
MYSQL_SINK_PG_HOST=host
MYSQL_SINK_PG_USER=username
MYSQL_SINK_PG_PASSWORD=pwd
