# Kafka runtime data
data/
*.log
*.index
*.checkpoint
*.properties
*.meta
*.json.gz

# Secrets
.env
*.password

# Prometheus
prometheus/data/
prometheus/*.wal
prometheus/*.db

# Grafana
grafana/data/
grafana/grafana.db
grafana/plugins/
grafana/.env
grafana/provisioning/datasources/*.yaml
